asgiref==3.9.1
certifi==2026.2.25
charset-normalizer==3.4.4
crispy-bootstrap5==2025.6
Django==5.2.5
django-cors-headers==4.9.0
django-crispy-forms==2.4
django-allauth==0.63.2
djangorestframework==3.16.1
humanize==4.14.0
idna==3.11
mysqlclient==2.2.6
openpyxl==3.1.5
pillow==12.1.1
python-decouple==3.8
reportlab==4.4.10
requests==2.32.5
sqlparse==0.5.3
typing_extensions==4.14.1
urllib3==2.6.3
